body {
  background: rgb(63, 104, 190);
  background: radial-gradient(circle, rgba(63, 104, 190, 1) 0%, rgba(45, 248, 253, 1) 100%);
}

.tilteSection {
  display: flex;
  justify-content: center;
}

.pageTitle {
  font-size: 50px;
  margin-top: 20px;
}

.leaderboardSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10vw;
}

.scoreArticle {
  width: 340px;
}

.scoreDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}

.secondTitle {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fSubmit,
.refreshBtn {
  font-size: 14px;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: white;
  border: 1px solid;
  border-radius: 2px;
  box-shadow: 3px 2px 5px black;
  transition: 0.1s;
}

.fSubmit:hover,
.refreshBtn:hover {
  background-color: rgb(233, 233, 233);
}

.fSubmit:active,
.refreshBtn:active {
  background-color: rgb(199, 199, 199);
}

.scoreList {
  list-style: none;
  padding: 0;
  border: 2px solid;
  max-height: 390px;
  overflow: hidden;
}

.scoreList:hover {
  overflow-y: scroll;
}

.scoreItem {
  font-size: 22px;
  padding-top: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-bottom: 1px solid rgb(170, 169, 169);
}

.whiteItem {
  background-color: white;
}

.firstPlace {
  background-color: rgb(255, 217, 0);
}

.secondPlace {
  background-color: rgb(197, 193, 193);
}

.thirdPlace {
  background-color: rgb(209, 134, 48);
}

.scoreForm {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}

.formScore,
.formName {
  border: 2px solid;
  padding: 4px;
  font-size: 14px;
  font-weight: bold;
}

@keyframes append-animate {
  from {
    opacity: 0;
    margin-right: 100%;
    margin-bottom: 100%;
  }

  to {
    opacity: 1;
    margin-right: 0%;
    margin-bottom: 0%;
  }
}

.mobileAnimation {
  animation: append-animate 0.2s linear;
}

.mobileAnimationReverse {
  animation: append-animate 0.2s linear;
  animation-direction: reverse;
}
